<%- include('./includes/head.ejs') %>
</head>

<body class="body">
  <header>
<%- include('./includes/navbar.ejs') %>

  </header>



                
                <div class="container row align-items-center ">
                  <div class="list-content col-md-10 order-md-1 text-center text-md-left pr-md-5" >

                <img class="profile_image" src="<%= artist.profile_image %>" alt="<%= artist.name %>">
                <div>
                <h1><%=artist.name%></h1>
                </div>
                  <h5><%=artist.country%></h5>
                    <p><%-artist.bio%><p>

                </div>
                </div>
          
 
 
  
<%- include('./includes/footer.ejs') %>