<%- include('./includes/head.ejs') %>
</head>

<body class="body">
  <header>
<%- include('./includes/navbar.ejs') %>

  </header>

<div class="main-content">
  <div class="container row align-items-center">
    <div class="wrapper">
       <div>
          <div class="list-content col-md-6 order-md-1 text-center text-md-left pr-md-5">
          
            <table class="artist_row">
            <%for (let i=0; i<artists.length; i++) {%>
              <tr class="artist_row">
              <a href="/artists/<%=artists[i]._id%>"><h3><%=artists[i].name%></h3></a>    
              </tr>                           
            <%}%>  
            </table> 
          </div>  
          </div>

        <div class="form-content col-md-3">
          <div>
          <form action="/artists/filtered" method="get" id="artistFilterForm">
            <fieldset>
            <label>Filter Artists</label>
              <select class="form-control" type="text" name="country" id="country">
              <!-- Can probably delete this but JIC /* country && typeof(country) ==='string'  ? country :*/ -->
                  <option selected disabled>By Country</option>
                  <option value="null">All</option> 
                  <% for (let i=0; i<countries.length; i++) {%>
                    <option default="<%=country%>" value="<%=countries[i]%>"><%=countries[i]%></option>                                
                  <% } %>  
              </select>
              </fieldset>
          </form>
               <input type="submit" form="artistFilterForm" class="btn btn-primary pull-right" 
               value="Filter">

           
          <!-- conditional results if there is a string country value --> 
            <div class="results">
            <% if (typeof country == 'string') { %>
              <h4>Results</h4>
              <h5><%=`Country: ${country}`%></h5>
            <% } %>
            </div> 
            </div>
        </div>
        
  </div>

<%- include('./includes/footer.ejs') %>