<%- include('./includes/head.ejs') %>
</head>

<body class="body">
  <header>
<%- include('./includes/navbar.ejs') %>
  </header>

  <section id="maincontent">

   
                          
                <div class="container row align-items-center ">
                  <div class="list-content col-md-10 order-md-1 text-center text-md-left pr-md-5" >
                  <br/><br/><br/><br/>
                <div>
                <h1><%= event.title %></h1>
                </div>
                  <h5>Date: <%= event.date %></h5>
                  <h5>Venue: <%= event.venue %></h5>
                  <h5>City / Region: <%= event.city %></h5>
                  <h5>Country: <%= event.country %></h5>
                    <p>Artists: <%= event.artists %><p>

                </div>
                </div>
          
  </section>
 
  
<%- include('./includes/footer.ejs') %>
  
