<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%=title%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
  <link href="/assets/css/bootstrap.css" rel="stylesheet">
  <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/assets/css/docs.css" rel="stylesheet">
  <link href="/assets/css/prettyPhoto.css" rel="stylesheet">
  <link href="/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="/assets/css/flexslider.css" rel="stylesheet">
  <link href="/assets/css/sequence.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/color/default.css" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>


  <header>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- logo -->
          <a class="brand logo" href="index.html"><img src="/assets/img/logo.png" alt=""></a>
          <!-- end logo -->
          <!-- top menu -->
          <div class="navigation">
            <nav>
              <ul class="nav topnav">
                <li>          
                  <a href="<%='/'%>">Home</a>
               </li>
                <%for (let i=0; i<nav.length; i++) {%>
                <li>
                  <a href="<%=nav[i].link%>"><%=nav[i].title%></a>
                </li>
                <%}%>
            
              </ul>
            </nav>
          </div>
          <!-- End Navbar menu -->
        </div>
      </div>
    </div>
  </header>

<body class="body">

  <div class="container">
    <div class="wrapper">
       <div>
          <div class="list-content"> 

            <% for (let i=0; i<events.length; i++) { %>
              
              <span><a href="/events/<%=events[i]._id%>"><h3><%=events[i].title%></h3></a></span>
              <h5><%=events[i].date%><h5>
              <h6><%=`Artists: ${events[i].artists}`%></h6>     
                                       
            <%}%>   
          </div>  
          </div>

          <div>
          <form action="/events/filtered" method="get" id="eventFilterForm">
        <div class="form-content">
            <fieldset>
            <label>Filter Events</label>
              <!-- Begin dropdown lists -->
                        <select type="text" name="venue" id="venue">
                          <option selected disabled>By Venue</option>
                            <option value="null">All</option> 
                            <%for (let i=0; i<venues.length; i++) {%>
                              <option value="<%=venues[i]%>"><%=venues[i]%></option>                                
                            <%}%>  
                         </select>

                        <select type="text" name="city" id="city">
                          <option selected disabled>By City/Region<option>
                            <option value="null">All</option> 
                            <%for (let i=0; i<cities.length; i++) {%>
                              <option value="<%=cities[i]%>"><%=cities[i]%></option>                              
                            <%}%> 
                        </select>

                        <select type="text" name="country" id="country">
                          <option selected disabled>By Country</option>
                            <option value="null">All</option> 
                            <%for (let i=0; i<countries.length; i++) {%>
                              <option value="<%=countries[i]%>"><%=countries[i]%></option>                                
                            <%}%>  
                        </select>

                        <select type="text" name="artist" id="artist">
                          <option selected disabled>By Artist</option>
                            <option value="null">All</option> 
                            <%for (let i=0; i<artists.length; i++) {%>
                              <option value="<%=artists[i]%>"><%=artists[i]%></option>                                
                            <%}%>  
                        </select>
            
                <!-- End dropdown lists -->
              </fieldset>
            </form>
               <button type="submit" form="eventFilterForm" class="btn btn-default pull-right" 
               value="Submit">Filter</button>
            
              <!-- Begin conditional results if there is a string country value --> 
            <div class="results">
            <% if (typeof venue == 'string' || typeof city == 'string' || typeof country == 'string' || typeof artist == 'string') { %>
              <h4>Results</h4>
              <h5><%=typeof venue == 'string' ? `Venue: ${venue}` :'' %></h5>
              <h5><%=typeof city == 'string' ? `City/Region: ${city}` : ''%></h5>
              <h5><%=typeof country == 'string' ? `Country: ${country}` : ''%></h5>
              <h5><%=typeof artist == 'string' ? `Artist: ${artist}` : ''%></h5>
            <% } %>
            </div>
          </div>   

        </div>  
  </div>





  <!-- JavaScript Library Files -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.easing.js"></script>
  <script src="/assets/js/google-code-prettify/prettify.js"></script>
  <script src="/assets/js/modernizr.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
  <script src="/assets/js/jquery.elastislide.js"></script>
  <script src="/assets/js/sequence/sequence.jquery-min.js"></script>
  <script src="/assets/js/sequence/setting.js"></script>
  <script src="/assets/js/jquery.prettyPhoto.js"></script>
  <script src="/assets/js/application.js"></script>
  <script src="/assets/js/jquery.flexslider.js"></script>
  <script src="/assets/js/hover/jquery-hover-effect.js"></script>
  <script src="/assets/js/hover/setting.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="/assets/js/custom.js"></script>

</body>
</html>
